/* SwapContainer.css */
.swap-container {
    padding: 10px;
    border-radius: 20px;
    text-align: left;
    max-width: var(--swapy-max-width);
}

.currency-input {
    background-color: var(--tg-theme-secondary-bg-color);
    padding: 13px;
    border-radius: 6px;
}

.currency-logo-container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

rect {
    background-color: var(--tg-theme-bg-color);
}

svg {
    fill: var(--tg-theme-hint-color);
}

.currency-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 10px;
}

.token-group {
    padding-left: 16.5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.token-quantity {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.amount {
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: normal;
}

.arrow {
    margin-left: 10px;
}

.approximate-icon {
    margin-right: 2px;
}

.currency-details {
    display: flex;
}

.swap-button {
    background-color: blue;
    border: none;
    padding: 10px;
    width: 100%;
}

.swap-details {
    display: block;
    text-align: center;
    margin-top: 10px;
}