html {
    --tg-theme-bg-color: #F7F9FB;
    --tg-theme-secondary-bg-color: #F2F2F2;
    --tg-theme-button-color: #0098EA;
    --tg-theme-accent-text-color: #FFFFFF;
    --tg-theme-section-text-color: #000000;
    --tg-theme-hint-color: #B4B4B4;
    --swapy-max-width: 600px;

    text-align: center;

    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    margin: 0 auto;
}

body {
    background-color: var(--tg-theme-bg-color);
}

.hint {
    color: var(--tg-theme-hint-color);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1;
    text-align: left;
}