#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.App {
  font-family: Inter;
  text-align: center;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}